body {
	color:black;
	background-color: rgb(199, 214, 208);

	font: normal 14px Arial, Helvetica, sans-serif;


	margin: auto;
	width: 66%;

}
.about {
	line-height: 1.8em;
}
h1 {
	text-align: center;
	color: black;
	font-size: 28px;
	margin-top: 50px;
}
.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;

}